{% extends 'main/base/base.html' %}
{% load static %}
<html lang="en">
<body>
{% block content %}
<header class="header">
    <div class="header__content">
        <div class="header__logo-container">
            <div class="header__logo-img-cont">
                <img src="{% static 'assets/png/logo.png' %}"
                     alt="Ram Maheshwari Logo Image"
                     class="header__logo-img"
                />
            </div>
            <span class="header__logo-sub">Salvación De Dios</span>
        </div>
        <div class="header__main">
            <ul class="header__links">
                <li class="header__link-wrapper">
                    <a href="./index.html" class="header__link"> Home </a>
                </li>
                <li class="header__link-wrapper">
                    <a href="./index.html#about" class="header__link">About </a>
                </li>
                <li class="header__link-wrapper">
                    <a href="./index.html#projects" class="header__link">
                        Projects
                    </a>
                </li>
                <li class="header__link-wrapper">
                    <a href="./index.html#contact" class="header__link"> Contact </a>
                </li>
            </ul>
            <div class="header__main-ham-menu-cont">
                <img
                        src="{% static 'assets/svg/ham-menu.svg' %}"
                        alt="hamburger menu"
                        class="header__main-ham-menu"
                />
                <img
                        src="{% static 'assets/svg/ham-menu-close.svg'%}"
                        alt="hamburger menu close"
                        class="header__main-ham-menu-close d-none"
                />
            </div>
        </div>
    </div>
    <div class="header__sm-menu">
        <div class="header__sm-menu-content">
            <ul class="header__sm-menu-links">
                <li class="header__sm-menu-link">
                    <a href="./index.html"> Home </a>
                </li>

                <li class="header__sm-menu-link">
                    <a href="./index.html#about"> About </a>
                </li>

                <li class="header__sm-menu-link">
                    <a href="./index.html#projects"> Projects </a>
                </li>

                <li class="header__sm-menu-link">
                    <a href="./index.html#contact"> Contact </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="section2">
</div>
<section class="home-hero">
    <div class="home-hero__content">
        <h1 class="heading-primary">Приповісті 3:5-6</h1>
        <div class="home-hero__info">
            <p class="text-primary"> Надійся на Господа всім своїм серцем, а на розум свій не покладайся! <br>
                Пізнавай ти Його на всіх дорогах своїх, і Він випростує твої стежки.
            </p>
        </div>
    </div>

    <div class="home-hero__mouse-scroll-cont">
        <div class="main_service">
            <div class="general">
                <div class="title">Недільне служіння</div>
                <div class="time_general">11:00</div>
                <div class="location_general">Av. de Burjassot, 83, 46009 València, Valencia</div>
            </div>
            <div class="border"></div>
            <div class="home_service">
                <div class="title">Домашня група</div>
                <div class="time_general">19:00</div>
                <div class="location_general">Calle Ministro Luis Mayans 31 puerta 11</div>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="projects" class="projects sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
            <span class="heading-sec__main">Наші новини</span>
            <span class="heading-sec__sub">
                "Всі новини церкви знайомлять нас з Божим словом та діями вірян.
                Церква – це спільнота віри, де люди об'єднані служінням Господу та служінням один одному.
                Тут ми відкриваємо істину, творимо добро та поширюємо любов, долаючи випробування віри.
                І все це в світлі Біблії та Божої милості."
            </span>
        </h2>
        <div class="projects__content">
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img
                            src="{% static '/assets/jpeg/project-mockup-example.jpeg'%}"
                            alt="Software Screenshot"
                            class="projects__row-img"
                            loading="lazy"
                    />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Project 1</h3>
                    <p class="projects__row-content-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                        facilis tempora, explicabo quae quod deserunt eius sapiente
                        praesentium.
                    </p>
                    <a
                            href="./project-1.html"
                            class="btn btn--med btn--theme dynamicBgClr"
                            target="_blank"
                    >Case Study</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main">Про церкву</span>
            <span class="heading-sec__sub">
                Українська церква у Валенсії <br>
                Ми - християнська церква, яка вірує в Ісуса Христа як нашого Господа і Спасителя.
                Як об'єднання віруючих, ми покладаємо віру в незмінну істину Біблії,
                прагнемо до стійких міжособистісних стосунків, підтримуємо щедру духовну жертовність,
                відкрито проповідуємо Боже слово і практикуємо нескінчену молитву.
            </span>
        </h2>
    </div>
</section>
<section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main heading-sec__main--lt">Contact</span>
            <span class="heading-sec__sub heading-sec__sub--lt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
        </h2>
        <div class="contact__form-container">
            <form action="#" class="contact__form">
                <div class="contact__form-field">
                    <label class="contact__form-label" for="name">Name</label>
                    <input
                            required
                            placeholder="Enter Your Name"
                            type="text"
                            class="contact__form-input"
                            name="name"
                            id="name"
                    />
                </div>
                <div class="contact__form-field">
                    <label class="contact__form-label" for="email">Email</label>
                    <input
                            required
                            placeholder="Enter Your Email"
                            type="text"
                            class="contact__form-input"
                            name="email"
                            id="email"
                    />
                </div>
                <div class="contact__form-field">
                    <label class="contact__form-label" for="message">Message</label>
                    <textarea
                            required
                            cols="30"
                            rows="10"
                            class="contact__form-input"
                            placeholder="Enter Your Message"
                            name="message"
                            id="message"
                    ></textarea>
                </div>
                <button type="submit" class="btn btn--theme contact__btn">
                    Submit
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>
