{% extends 'main/base/base.html' %}
{% load static %}
{% load my_custom_form %}
<html lang="en">
<body>
{% block content %}
<section class="home-hero">
    <div class="home-hero__content">
        <div class="home-hero__info">
            <p class="text-primary"> Надійся на Господа всім своїм серцем, а на розум свій не покладайся!
                Пізнавай ти Його на всіх дорогах своїх, і Він випростує твої стежки.
            </p>
        </div>
        <h1 class="heading-primary">Приповісті 3:5-6</h1>
    </div>
    <div class="home-hero__mouse-scroll-cont">
        <div class="main_service">
            <div class="general">
                <div class="title">Недільне служіння</div>
                <div class="time_general">11:00</div>
                <div class="location_general">Av. de Burjassot, 83, 46009 València, Valencia</div>
            </div>
            <div class="border"></div>
            <div class="home_service">
                <div class="title">Домашня група</div>
                <div class="time_general">19:00</div>
                <div class="location_general">Calle Ministro Luis Mayans 31 puerta 11</div>
            </div>
        </div>
    </div>
    </div>
</section>
{% show_news_list %}
<section id="about" class="about sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main">Про церкву</span>
            <span class="heading-sec__sub">
                Українська церква у Валенсії <br>
                Ми - християнська церква, яка вірує в Ісуса Христа як нашого Господа і Спасителя.
                Як об'єднання віруючих, ми покладаємо віру в незмінну істину Біблії,
                прагнемо до стійких міжособистісних стосунків, підтримуємо щедру духовну жертовність,
                відкрито проповідуємо Боже слово і практикуємо нескінчену молитву.
            </span>
        </h2>
    </div>
</section>
<section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main heading-sec__main--lt">Contact</span>
            <span class="heading-sec__sub heading-sec__sub--lt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
            <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}
    <button type="submit">Отправить</button>
</form>

        </h2>
    </div>
</section>
{% endblock %}
</body>
</html>
