{% extends 'main/base/base.html' %}
{% load static %}
{% block head %}{{article.title}}{% endblock %}
{% block content %}

<section class="project-cs-hero">
    <div class="project-cs-hero__content">
        <h1 class="heading-primary">Article title</h1>
        <div class="project-cs-hero__info">
            <p class="text-primary">
                {{article.short_description}}
            </p>
        </div>
    </div>
</section>
<section class="project-details">
    <div class="main-container">
        {% for article in articles %}
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont">
                <img src="{{ article.img.url }}" alt="{{ article.title }}"
                     alt="Project Image"
                     class="project-details__showcase-img"
                />
            </div>
            <div class="project-details__content-main_lv">
                <div class="project-details__desc_lv">
                    <p class="project-details__desc-para_lv">
                    <h2><a href="{% url 'post_view' slug=article.slug %}">{{article.title}}</a></h2>
                    </p>
                    <p class="project-details__desc-para">
                        {{article.short_description}}
                    </p>
                    <p class="date_lv">{{article.date|date:"j F Y"}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
{% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination_lv">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Попередня</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Наступна</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
        </div>
                </nav>
        {%endif%}
    </div>

</section>

{% endblock %}
</body>

