{% extends 'main/base/base.html' %}
{% load static %}
{% load i18n %}  {# Добавлено для поддержки интернационализации #}

{% block head %}{{ article.title }}{% endblock %}
{% block content %}

<section id="projects" class="projects sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
            <span class="heading-sec__main">{% trans "Церква живе" %}</span>
            <span class="heading-sec__sub">
                {% trans "Відкрийте для себе останні новини та події нашої церкви у розділі 'Усі Новини'.
                Тут ви знайдете актуальну інформацію про церковні заходи,
                духовні зустрічі та важливі повідомлення для нашої громади." %}
            </span>
        </h2>
        <div class="projects__content">
            {% for article in articles|slice:":3" %}
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="{{ article.img.url }}" alt="{{ article.title }}"
                         class="project-details__showcase-img"
                    />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">{{ article.title }}</h3>
                    <p class="date_lv_main">{{ article.date|date:"j F Y" }}</p>
                    <p class="projects__row-content-desc">
                        {{ article.short_description }}
                    </p>
                    <a href="{% url 'post_view' slug=article.slug %}"
                       class="btn btn--med btn--theme dynamicBgClr"
                    >{% trans "Детальніше" %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="{% trans 'Page navigation example' %}">
        </nav>
    </div>
</section>

{% endblock %}
</body>
