{% extends 'main/base/base.html' %}
{% load static %}
{% block head %}{{article.title}}{% endblock %}
{% block content %}
{% load i18n %}

<section class="project-details">
    <div class="main-container">
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont">
                <p class="date_lv">{{article.date|date:"j F Y"}}</p>

                <img src="{{ article.img.url }}" alt="{{ article.title }}"
                     alt="Project Image"
                     class="project-details__showcase-img"
                />
            </div>
            <div class="project-details__content-main">
                <div class="project-details__desc">
                    <h3 class="project-details__content-title">{{article.title}}</h3>

                    <p class="project-details__desc-para">
                        {{article.description}}
                    </p>
                    <p class="project-details__desc-para">
                        {{post.title}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

